In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [114]:
cleaning = pd.read_csv('../python/assignment1_data.csv', index_col = -1)# index_col: Column to use as the row labels of the DataFrame.
df = cleaning.copy()

In [115]:
cleaning.head()

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share,top_5_perc_wealth_share,...,suicides_per_100000,problem_gambling_intervention_prevelance_percent,total_prisoners_in_remand_rate,total_sentenced_prisoners_rate,total_post_sentence_offender_population_rate,violent_crime_victimisations_rate,recorded_murders_and_homicides_per_million,regional_gdp_proportional_variation,difference_in_percent_for_low_income_by_gender,gender_pay_gap
year,,,,,,,,,,,,,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2,-,-,...,11.730000,0.002798,0.239037,0.163723,0.190778,5.179411,9.535594,0.570175,2.0,9.9
2000/12/31 0:00,???,???,???,???,???,???,???,???,-,-,...,11.928744,NaN,0.204938,0.183488,NaN,6.979664,14.517513,NaN,NaN,14.0
1987/12/31 0:00,???,???,???,???,???,???,???,???,-,-,...,13.571673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,???,???,???,???,???,???,???,???,-,-,...,12.359663,NaN,0.224868,0.176379,0.132507,6.801624,11.423434,0.644499,NaN,12.5
2006/12/31 0:00,???,???,???,???,???,???,???,???,57,43,...,12.248800,0.000885,0.266002,0.220916,0.179629,6.357895,11.710218,0.469300,NaN,12.1

In [116]:
cleaning['Q5:Q1'].unique()# Top-level unique method for any 1-d array-like object.

array(['5.8', '???', '5.61', '5.33', '5.34', '5.26', '5.31', '5.94',
       '5.42', '4.46', '5.51', '4.13', '5.38', '5.28', '5.09', '5.88',
       '4.04'], dtype=object)

In [117]:
for col in cleaning.columns:
    print(col)
    print(cleaning[col].unique())

Q5:Q1
['5.8' '???' '5.61' '5.33' '5.34' '5.26' '5.31' '5.94' '5.42' '4.46'
 '5.51' '4.13' '5.38' '5.28' '5.09' '5.88' '4.04']
D10:D1
['9.59' '???' '9.1' '8.62' '8.53' '8.66' '8.1' '9.75' '8.32' '6.35' '9.15'
 '6.15' '8.29' '8.23' '8.03' '9.82' '6.06']
D10:D1-4(Palma)
['1.36' '???' '1.25' '1.28' '1.31' '1.2' '1.44' '1.34' '1.1' '0.91' '1.3'
 '1.23' '1.21' '1.45']
P90:P10_bhc
['???' '4.14' '3.93' '3.11' '4.01' '3.68' '4.13' '4.26' '3.91' '3.79'
 '3.43' '4.17' '3.8' '3.25' '3.31' '4.02' '3.87' '3.2' '3.98']
P80:P20_bhc
['2.78' '???' '2.59' '2.56' '2.24' '2.57' '2.67' '2.68' '2.55' '2.42'
 '2.74' '2.53' '2.32' '2.29' '2.62' '2.61' '2.52' '2.19']
P80:P50_bhc
['1.66' '???' '1.62' '1.56' '1.49' '1.61' '1.65' '1.64' '1.6' '1.51'
 '1.53' '1.48' '1.58']
P50:P20_bhc
['0.6' '???' '0.63' '0.61' '0.67' '0.62' '0.64' '0.65' '0.66' '0.59'
 '0.68']
GINI-BHC
['34.2' '???' '33.8' '32.4' '27.1' '33.3' '101.5' '33' '32' '35.1' '33.1'
 '30.2' '33.4' '31.9' '27.2' '27.5' '32.2' '35' '27' '32.9']
top_10_perc_wealth_share
['-' '57' '54' '55' '59']
top_5_perc_wealth_share
['-' '43' '39' '41' '45']
top_1_perc_wealth_share
['-' '21' '18' '19' '20' '22']
UN_middle_class_def_inc_share
['19' '-' '19.6' '20.1' '22.4' '19.8' '20.2' '22.1' '18.9' '19.2' '21.3'
 '20' '22.2' '22.3' '53.6' '19.7' '19.9' '19.1' '22.8']
OECD_middle_class_def_inc_share
['56.2' '-' '57.3' '60.1' '63.7' '59' '57.6' '54.9' '61.9' '59.1' '57.5'
 '53.2' '55.2' '59.5' '54.6' '56.1' '63.3' '62.5' '22.9' '58.3' '58.7'
 '54.3' '64.6' '54.4']
LIH_B60_contemp_median_AHC
['19' '-' '20' '10' '18' '11' '17' '9' '7']
LIH_B50_contemp_median_AHC
['14' '-' '6' '13' '11' '15' '5']
LIH_B50_CV_AHC
['12' '-' '11' '9' '13' '18' '20' '10' '17' '8' '22' '7']
LIH_B60_CV_AHC
['16' '-' '15' '17' '18' '25' '22']
LIH_B40_contemp_median_AHC
['-' '10' '9' '4' '8' '7' '3']
LIEH_B60_contemp_median_AHC
['12' '-' '14' '13' '6' '9' '11' '8' '3' '2' '10' '4']
LIEH_B50_contemp_median_AHC
['6' '-' '7' '2' '4' '5' '3' '1']
LIEH_B50_CV_median_AHC
['4' '-' '5' '7' '8' '6' '3' '2']
LIEH_B60_CV_median_AHC
['8' '-' '10' '14' '9' '11']
LIS65H_B60_CV_median_AHC
['2.058823529' '-' '2.142857143' '1.666666667' '2' '1.947368421' '1.875'
 '1.647058824' '2.3125' '1.764705882']
LISPH_B60_CV_median_AHC
['3.470588235' '-' '3.928571429' '3.388888889' '3.166666667' '3.210526316'
 '3.5' '3.529411765' '3' '3.058823529']
LIS65H_B50_CV_median_AHC
['1.692307692' '-' '2.454545455' '2.166666667' '1.333333333' '1.222222222'
 '2.230769231' '2.142857143' '1.555555556' '1.45' '1.5' '1.588235294'
 '1.111111111' '2' '1.916666667' '1.363636364' '2.818181818' '1.428571429']
LISPH_B50_CV_median_AHC
['3.923076923' '-' '3.727272727' '3.583333333' '1.666666667' '3.444444444'
 '3.538461538' '3.571428571' '3.888888889' '3.7' '2.5' '3.235294118'
 '3.45' '3' '4' '4.333333333' '3.272727273' '3.181818182' '3.142857143']
child_poverty_ahc_perc_HH_B50_CV
['17' 'None' '14' '12' '27' '18' '28' '31' '15' '23' '32' '11' '19' '34'
 '16']
child_poverty_ahc_perc_HH_B60_CV
['23' 'None' '20' '25' '24' '37' '31' '22']
child_poverty_ahc_perc_HH_B40_contemp_median
['None' '13' '12' '5' '10' '14' '11' '9' '6']
child_poverty_ahc_perc_HH_B50_contemp_median
['20' 'None' '19' '8' '18' '21' '7' '17' '9' '10']
child_poverty_ahc_perc_HH_B60_contemp_median
['29' 'None' '25' '28' '13' '30' '16' '27' '14' '15' '24' '11']
child_poverty_ahc_perc_HH_B60_CV_one_or_more_FT_working_parents
['None' '29' '61' '40' '32' '25' '42' '39' '57' '45' '34' '56' '35' '28'
 '36' '62' '33']
child_poverty_ahc_perc_HH_B60_CV_one_or_more_PT_working_parents
['None' '15' '5' '11' '13' '12' '9' '6' '3' '10' '2']
rate_of_personal_insolvencies
['0.100758708' 'None' '11.9236' '0.096088133' '0.17039676' '0.176417361'
 '0.119993688' '0.140193975' '0.100523499' '0.118259932' '0.10844285'
 '0.197668338']
loan_delinquency_percent
['2.784433612' '2.258690665' 'None' '7.426806339' '1.922396509'
 '3.775068816' '10.73368118' '2.749333707' '8.929113156' '3.999208078'
 '2.432331296' '2.869855395' '7.117537313' '3.109815355' '3.25203252'
 '1.049486747' '2.711864407' '3.526334776' '6.75171737' '2.860826819'
 '24.0755627' '1.802539943']
national_house_rental_A30%_income_spend
['0.291412487' 'None' '0.304745657' '0.261400104' '0.283937945'
 '0.282854103' '0.265007522' '0.267882129' '0.264739526' '0.286207073'
 '0.282472606' '0.286440483' '0.291834894' '0.286892373' '0.284664018'
 '0.273987545']
national_house_purchasing_A30%_income_spend
['0.53455646' 'None' '0.373271673' '0.543070555' '0.534711985'
 '0.56577382' '0.615998379' '0.496710366' '0.626844957' '0.522625904'
 '0.440848749' '0.574313678' '0.509754193' '0.480168125' '0.508278942'
 '0.547441367']
national_house_rental_HAM
['0.645357772' 'None' '0.673379796' '0.646628375' '0.607017201'
 '0.663027272' '0.635947799' '0.649182601' '0.643899309' '0.672104344'
 '0.658736865' '0.607096032' '0.661289615' '0.662568357' '0.625522564'
 '0.645163383']
national_house_purchasing_HAM
['0.795998119' 'None' '0.761488199' '0.816000718' '0.782101127'
 '0.819475144' '0.832719864' '0.800634982' '0.842989993' '0.808778559'
 '0.783494615' '0.798594578' '0.793170169' '0.788742004' '0.779816674'
 '0.806098038']
home_ownership_rate
['64.00022454' '67.91938273' 'None' '67.27817058' '66.61411593'
 '63.17804024' '65.4045251' '67.46823956' '66.01287883' '73.29783188'
 '69.06593407' '66.89824777' '66.31188711' '65.10311363' '67.6567223'
 '70.20445833' '67.08726341' '70.78975838' '72.66646626' '68.49685577'
 '64.41226576' '64.80568612' '72.04157387' '71.42229383' '63.58544971'
 '65.70875608' '69.63325183']
homelessness_percentage_of_population
['NAN' 'None' nan '0.795522424' '0.737103455' '0.914340972']
priority_A_state_housing_applicants_as_pop_percent
['0.189426337' nan '0.022618368' '0.026258572' '0.169722134' '0.051343901'
 'NAN' '0.035938449' '0.033998123' '0.026813346' '0.024774029'
 '0.056197706' 'None' '0.032186269' '0.252376981' '0.116648301'
 '0.058924887' '0.18291914' '0.040953332']
priority_B_state_housing_applicants_as_pop_percent
['0.17637544' nan '0.337537552' '0.338374788' '0.123602683' '0.296577073'
 '0.358194979' '0.297630221' 'NAN' '0.345454545' 'None' '0.325517013'
 '0.252650298' '0.36794091' '0.125333611' '0.180403445' '0.170154397'
 '0.16580784' '0.292805872']
debt_servicing_as_percent_of_disp_inc
['9.4' 'None' '9.1' '12.3' '8.2' nan '10.1' 'NAN' '13.8' '8.3' '11.6'
 '13.1' '9' '8.5' '10.3' '7.7' '8.7' '8.8' '10.8']
house_median_multiples
['5.301112559' nan 'NAN' '3.620934173' '4.695639245' '5.797406872'
 '4.77659693' '3.300736671' '4.708076244' 'None' '4.481678666'
 '5.000075448' '4.703063623' '3.20403204' '4.029125164' '6.104822894'
 '6.239747669' '5.037923232' '4.804606486' '5.505226627' '4.652290684']
unemployment_rate
['5.4' '6.1' '4.2' '4.8' '3.9' '5.1' 'NAN' '5.8' '5.3' nan '4' '10.6'
 '7.7' '3.8' '7.3' '3.6' '6' '5.5' '6.3' '8' '6.5' '4.7' '10.7' '7' '6.4'
 '9.8' '8.4' '6.8']
60_64_years_unemp_rate
['2.9' '4.8' '1.3' '3.7' '1.9' '3' nan '2.3' '4' '2.1' '2.8' '3.4' '1.2'
 '3.3' '2.5' '2.7' '3.1' 'None' '5.4' '3.6' '3.9']
65years_and_over_unemp_rate
['1.6' '1.7' '1.2' nan '1.5' '2.3' '1.1' '2.5' '3.4' 'NAN' '1.3' '1.4'
 '2.1' '1.8' '2' '1']
underemployment_rate
['4.1' nan '2.8' '4.3' '3.9' 'None' '3.2' '3.1' '4' '3.3' '4.4' 'NAN'
 '4.2']
employees_working_long_hours
['14.03208924' nan 'None' '14.93161991' '15.0208549' '13.76879701'
 '14.15375627' 'NAN' '15.65180621' '14.74332887' '13.28523676'
 '14.08515265' '13.26356628' '13.61419301' '13.43555398']
labour_market_insecurity
['4.76441288' nan 'NAN' '4.4' '5.601137161' '3.389422894' 'None'
 '3.250449181' '5.591565609' '5.332859516' '5.885300636' '4.68318224'
 '5.232753754']
long_term_unemployment_rate
['13.63636376' '19.86564299' '10.56751469' '13.60946763' '7.649513333'
 '14.14554371' nan '8.879184954' '13.48464633' '14.76293119' '4.326328892'
 '24.32269694' '19.51951938' '9.84308144' '17.44897948' '5.967976829'
 '8.914450139' '17.34475386' '21.16650992' '22.06366623' '11.65048555'
 '25.84053796' '15.64339767' '32.37237262' 'NAN' '21.14427859'
 '12.17257318' '13.29677878' '33.7628865' '32.93502612' '13.20604627'
 '7.93319426' '6.413301781' '19.72672923']
pop_15_to_29_NEET
['11.4' 'None' nan 'NAN' '10.7' '12' '13.4' '11.1' '10.9' '13.2' '10.8'
 '11.8' '11.9' '13.5' '11.3' '14.1']
low_pay_percent_OECD_def
['13.86467017' '11.73855902' nan '13.2223601' '14.61223605' '11.18821004'
 'NAN' '12.72185373' '13.62982548' '12.53418077' '13.12055621'
 '12.43929872' '13.44092008' '13.69347462' '12.22912863' '13.16200699'
 '12.09159648' 'None' '12.28404701' '14.08030591' '13.55530034'
 '13.89062945' '12.87324359' '13.27024441']
low_pay_percent_120percent_MW_def
[nan 'None' '17.9' 'NAN' '23.9' '24.9' '24']
living_min_wage_gap_magnitude
['2.046542553' 'None' nan 'NAN' '2.233585859' '1.793478261' '2.451948052']
LIS_ms-16
['0.542572373' '0.566411227' nan '0.554726914' '0.575006286' '0.556034802'
 '0.556224675' 'None' '0.547495509' 'NAN' '0.566552623' '0.57695473'
 '0.560911148' '0.576097368' '0.556565361' '0.552677842' '0.573814339'
 '0.558436539' '0.58646245' '0.563012705' '0.553735337' '0.556715416'
 '0.576229725' '0.577402517']
LP:RPW_ms-16
['1.059572811' '1' 'None' '1.023312736' '0.989086531' '1.032523909' nan
 '1.03122756' '1.036569721' '1.009076817' '0.975691793' '1.014533128'
 '0.987016986' '1.030702749' '1.027041175' '0.982628357' '1.016300545'
 '0.961097219' '1.021230837' '1.037463792' '1.031727924' 'NAN'
 '0.995758226' '0.974400011']
teriary_education_participation_rate
['10.2\\I' '10.1\\Y' nan '12.5\\T' '13.3\\T' '9.4\\J' '12.2\\N' '11.9\\U'
 '12.4\\O' '8.3\\U' '13.5\\B' '13.1\\V' '11.0\\Q' '11.0\\X'
 '8.200000000000001\\U' '13.1\\T' '8.1\\O' '9.4\\N' '10.6\\A' '10.8\\S'
 '7.3\\H' '9.8\\U' '12.4\\N' '8.1\\B']
education_spend_as_percent_of_GDP
['5.2\\T' '5.0\\D' nan '5.2\\K' '6.1\\Q' '6.0\\Y' '5.0\\V' '5.1\\B'
 '4.9\\E' '5.1\\U' '5.4\\K' '5.7\\M' '5.1\\V' '5.2\\S' '5.0\\U' '5.7\\R'
 '5.4\\V' '5.3\\Z' '6.0\\R' '4.8\\B']
education_spend_as_percent_of_total_gov_expenses
['17.3\\H' '16.4\\E' nan '17.6\\F' '20.1\\I' '17.8\\E' '18.3\\Z' '17.3\\W'
 '16.8\\F' '15.7\\S' '17.7\\D' '17.2\\P' '16.6\\A' '16.8\\A' '18.1\\V'
 '15.7\\D' '17.9\\U' '16.9\\R' '17.8\\A' '17.9\\X' '15.4\\D']
median_teriary_loan_as_perc_of_med_inc_AHC
['27.84883300816533\\U' '25.68303400840658\\O' nan '24.09006465036784\\C'
 '23.57814972104255\\T' '27.80509611086276\\N' '24.4140625\\B'
 '24.71911832236339\\I' '24.174053182917\\E' '23.29185952694382\\F'
 '23.963735859844\\O' '26.76747526332588\\G' '25.97396449704142\\H'
 '23.50086655112652\\Y' '27.36466607825831\\X' '26.99841594869219\\L'
 '27.99002738956388\\L' '23.59515798429826\\W']
median_teriary_loan_balance_as_perc_of_med_inc_AHC
['44.64195389840307\\Y' '39.93121895299962\\W' nan '39.2851304153972\\T'
 '36.55591639603631\\U' '35.73069852941176\\M' '37.98561151079137\\F'
 '36.36180499597099\\K' '38.68104802751709\\S' '36.08036917548087\\B'
 '40.40057452920524\\E' '39.08165680473373\\H' '37.45667244367418\\O'
 '42.8471609296852\\Z' '41.93099717961596\\R' '45.18926890933352\\J'
 '35.76594345825115\\I']
university_affordability_ratio_to_mean_salary
['5.959064936999185\\H' '5.559656080630483\\G' nan '4.984461828692988\\B'
 '5.160616481113521\\Z' '6.2\\C' '5.462299069965385\\P'
 '5.235648764126072\\G' '5.275847049000189\\J' '5.134079474249958\\G'
 '5.204035084141148\\R' '5.625365837737466\\W' '5.551530319919428\\T'
 '5.143210079430139\\Q' '5.834845910325214\\Z' '5.739509808579469\\C'
 '6.057549384693136\\A' '5.277309543396074\\C']
polytechnics_affordability_ratio_to_mean_salary
['3.702775588847961\\C' '5.368577686550889\\M' nan '3.370603066499685\\V'
 '3.331011556808302\\Z' '3.6\\U' '3.920145171817537\\S'
 '4.400569236548513\\L' '3.652069417554473\\C' '3.075128288143941\\S'
 '3.487518095478457\\U' '4.116263815877027\\C' '4.960433429642005\\A'
 '3.051085776072352\\P' '3.934648826896657\\F' '3.995548849960162\\S'
 '3.692838567263505\\P' '3.72571715416637\\Y']
wananga_affordability_ratio_to_mean_salary
['0.4748641862326134\\J' '3.859013985972417\\O' nan
 '0.4781744069771662\\X' '0.5746032019552264\\Z' '0.4\\X'
 '0.6167547991979276\\L' '0.8853161140067168\\A' '0.4670322292243831\\R'
 '0.6006994713287425\\J' '0.600718653487315\\T' '0.6335082681272718\\I'
 '1.794410239487352\\W' '0.5410778670206408\\L' '0.4902376499838548\\P'
 '0.5089958053256108\\A' '0.4592918261953701\\P' '0.5642720403933268\\K']
bachelors_earning_premium_hourly
['66.66666666666666\\U' nan '64.2857142857143\\B' '55.3213367609255\\J'
 '63.78881987577639\\F' '67.34426229508198\\C' '63.42141863699582\\E'
 '60.90584028605481\\Y' '59.83333333333333\\Z' '59.09610983981693\\S'
 '63.13513513513514\\R' '62.5\\N']
dips_cert_earning_premium_hourly
['31.11111111111112\\Y' nan '33.92857142857143\\Q' '28.43187660668381\\D'
 '28.07453416149068\\P' '32.06557377049181\\J' '37.69123783031988\\K'
 '25.14898688915375\\V' '29.16666666666667\\K' '20.13729977116704\\J'
 '29.72972972972973\\V' '25.875\\J']
school_earning_premium_hourly
['2.777777777777778\\Z' nan '7.142857142857142\\B' '2.827763496143962\\I'
 '5.590062111801233\\F' '4.786885245901642\\C' '7.440890125173842\\R'
 '4.290822407628122\\F' '3.499999999999995\\U' '1.716247139588105\\E'
 '2.702702702702703\\W' '6.25\\T']
bachelors_earning_premium_weekly
['161.4325068870523\\N' nan '152.7331189710611\\J' '160.9756097560976\\M'
 '146.9512195121951\\N' '151.1904761904762\\G' '159.6153846153846\\W'
 '146.4071856287425\\V' '162.3931623931624\\C' '143.3526011560694\\Y'
 '157.1045576407507\\R' '135.8662613981763\\Q']
dips_cert_earning_premium_weekly
['110.7438016528926\\I' nan '92.92604501607717\\D' '111.6531165311653\\C'
 '104.2682926829268\\M' '92.26190476190477\\D' '105.1282051282051\\E'
 '98.20359281437125\\O' '94.01709401709401\\J' '92.48554913294798\\Z'
 '103.7533512064343\\Z' '103.951367781155\\E']
school_earning_premium_weekly
['5.785123966942149\\B' nan '9.003215434083602\\H' '16.53116531165312\\M'
 '4.573170731707317\\L' '3.571428571428571\\C' '7.692307692307693\\F'
 '9.281437125748502\\V' '9.971509971509972\\T' '0.2890173410404624\\A'
 '7.238605898123325\\G' '11.24620060790274\\N']
health_expenditure_as_percent_of_gdp
[9.4 7.5 nan 7.7 8.6 9.7 7.9 9.1 8.3 9.6 7.6 9.3]
health_expenditure_per_capita_PPP
['3453,3' '1606,3' nan '1852,8' '2396,5' '3006,4' '1834,4' '2718,2'
 '2123,6' '2440,0' '3106,5' '1693,8' '1985,5' '3346,4' '3156,8' '3530,1'
 '2954,5']
depression_adult
['O15.5' nan '15.4K' 'Q10.4' 'S16.7' '14.5' '14.3' '14.6P']
excellent_very_good_or_good_self_rated_health
['91.4' nan '87.8C' 'U89.6' '88.2Q' 'M89.5' '89.3N' '88.9']
psychological_distress_adult
['6.2' nan 'T6.8' '6.6C' 'K7.6' '6.1' '4.5T' '6.2N']
mood_anxiety_disorder_adult
['G18.6' nan '18.8' '12.7' '19.9K' '16.4V' 'W16.3' '17.4']
healthy_weight_adult
['S33.4' nan '32' '36.2M' 'V31.9' '33.7H' '34.3' '33.1']
unmet_after_hours_care_due_to_cost_adult
['7' nan 'X6.9' 'F6.6' '7.2' '6.7' 'U5.8']
unmet_GP_care_due_to_cost_adult
['14' nan '14.3E' '111.3' 'O14.3' '14.5Z' 'K13.6' 'L13.7']
veg_and_fruit_intake_adult
['41.5Z' nan '40.1A' 'M43.0' 'W38.8' 'A43.3' 'B44.5' '40.5D']
breakfast_eaten_at_home_less_5_days_a_week_child
['B8.4' nan '10.3H' '7.4' '9.3' 'J8.7' '8.7P' '8.6']
emotional_behavioural_problems_child
['4' nan '4.3' '1.8' '4.9C' '4.4V' '3.3M' '4.0I']
adult_diabetes_rates
['G5.4' nan '5.8' '5.1B' 'T5.6' '5.5Y' '6.1Z']
depression_child
['0.7' nan '0.3' 'Y0.2' 'W0.5' '0.5' '1.1E']
excellent_very_good_or_good_parent_rated_health_child
['Q98.4' nan '97.7O' '97.6V' '98.1' '98.2' '97.8' '98']
unfilled_prescription_due_to_cost_child
['3.9' nan 'E3.8' 'W3.9' '4.5' '6.6M' 'J5.2']
unmet_need_for_after_hours_due_to_cost_child
['3.9' nan 'F4.0' '2.6' 'S4.3' '4.5C' 'N3.3']
unmet_need_for_GP_due_to_cost_child
['J5.3' nan 'Z4.5' '3.0Z' '6.5' '4.7R' '6.1W']
vegetable_and_fruit_intake_child
['53.4U' nan '48.5' '49.8' '54.9V' '55.5L' '54.8']
healthy_weight_child
['E62.6' nan 'C63.9' 'H67.7' '62.5U' '63.4O' '64.5' '63.1']
suicides_per_100000
[11.73       11.92874374 13.57167334 12.3596635  12.24880008 12.33
         nan 11.80718974 13.92633612 11.62591172  9.99511912 11.77016899
 13.70125542 15.09981231 12.18618167 13.36585255 11.04369829 10.90000067
 12.86341361 14.65653295 12.9727692  11.74019727 14.96900071 12.64
 14.1274509  13.4286102  11.         12.3        12.45838379 14.14838582
 12.27       12.29760894 11.32909503 14.80846467]
problem_gambling_intervention_prevelance_percent
[0.00279786        nan 0.00088452 0.00264452 0.0030425  0.00133975
 0.00078409 0.0012529  0.00275631 0.1        0.00242056 0.00279713
 0.00268597 0.0027702  0.00226324]
total_prisoners_in_remand_rate
[0.23903747 0.20493757        nan 0.22486779 0.26600244 0.28163526
 0.29090283 0.2191233  0.26994369 0.22035783 0.27499882 0.28438547
 0.22414902 0.24381833 0.30763136 0.19013369 0.26480311 0.27206566
 0.24825517 0.28885688]
total_sentenced_prisoners_rate
[0.16372338 0.1834879         nan 0.17637858 0.22091606 0.17943149
 0.20675396 0.17645272 0.19145941 0.21948743 0.22601865 0.19916558
 0.18578743 0.20243598 0.19190993 0.18763193 0.18182023 0.18330424
 0.16580784 0.20223466]
total_post_sentence_offender_population_rate
[0.19077796        nan 0.13250739 0.1796287  0.20089428 0.19958649
 0.17604411 0.18416344 0.18839619 0.21359688 0.17183946 0.21236447
 0.19477365 0.19425488 0.18746331 0.1886455 ]
violent_crime_victimisations_rate
[5.17941105 6.97966427        nan 6.80162375 6.35789549 5.67267114
 5.98630829 6.91683539 6.11353824 7.85463075 6.26428917 6.18311959
 5.83858833 6.84050737 8.33383326 6.1884462  8.30902117 7.34162041
 5.23059797 5.24748906 8.1811078  5.53688605 6.31310832 8.12861524]
recorded_murders_and_homicides_per_million
[ 9.53559438 14.51751305         nan 11.42343443 11.71021752 10.65443821
  9.65370771 16.71381143 11.97208392 13.89373131 14.75493504 12.07506428
  8.43968477 13.65623897 14.73716928 11.49889293 10.88198487  7.3008688
 13.03787764 10.80635684 10.20896619 17.11950519 10.44345522 15.80472794
 17.45320689]
regional_gdp_proportional_variation
[0.57017472        nan 0.64449882 0.4693001  0.32106383 0.5618742
 0.38499996 0.43859816 0.38822813 0.58719452 0.44519416 0.54002586
 0.40165092 0.5126031  0.49330694 0.45113131 0.54197627]
difference_in_percent_for_low_income_by_gender

[ 2. nan  0.  3.  1.  4.]
gender_pay_gap
[ 9.9 14.   nan 12.5 12.1 12.  10.8 12.3 16.2 11.9 10.3 13.1 12.7 15.2
 11.2  9.1 11.8 11.5  0. ]

In [118]:
temp = cleaning['Q5:Q1']
temp = temp.replace('???', np.nan)
temp

year
2014/12/31 0:00     5.8
2000/12/31 0:00     NaN
1987/12/31 0:00     NaN
2003/12/31 0:00     NaN
2006/12/31 0:00     NaN
2016/12/31 0:00    5.61
1983/12/31 0:00     NaN
2010/12/31 0:00    5.33
1988/12/31 0:00     NaN
2002/12/31 0:00     NaN
1985/12/31 0:00     NaN
2008/12/31 0:00    5.34
1991/12/31 0:00     NaN
1998/12/31 0:00    5.26
2005/12/31 0:00     NaN
1989/12/31 0:00     NaN
2007/12/31 0:00    5.31
2011/12/31 0:00    5.94
2001/12/31 0:00    5.42
1996/12/31 0:00     NaN
1990/12/31 0:00    4.46
2004/12/31 0:00    5.51
1995/12/31 0:00     NaN
2017/12/31 0:00     NaN
1992/12/31 0:00     NaN
1982/12/31 0:00    4.13
1984/12/31 0:00     NaN
1999/12/31 0:00     NaN
2018/12/31 0:00     NaN
2013/12/31 0:00    5.38
2012/12/31 0:00    5.28
1993/12/31 0:00     NaN
1994/12/31 0:00    5.09
2015/12/31 0:00    5.88
1986/12/31 0:00    4.04
2009/12/31 0:00    5.34
1997/12/31 0:00     NaN
Name: Q5:Q1, dtype: object

In [119]:
cleaning['Q5:Q1'] = temp 
cleaning.head()

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share,top_5_perc_wealth_share,...,suicides_per_100000,problem_gambling_intervention_prevelance_percent,total_prisoners_in_remand_rate,total_sentenced_prisoners_rate,total_post_sentence_offender_population_rate,violent_crime_victimisations_rate,recorded_murders_and_homicides_per_million,regional_gdp_proportional_variation,difference_in_percent_for_low_income_by_gender,gender_pay_gap
year,,,,,,,,,,,,,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2,-,-,...,11.730000,0.002798,0.239037,0.163723,0.190778,5.179411,9.535594,0.570175,2.0,9.9
2000/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,11.928744,NaN,0.204938,0.183488,NaN,6.979664,14.517513,NaN,NaN,14.0
1987/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,13.571673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,12.359663,NaN,0.224868,0.176379,0.132507,6.801624,11.423434,0.644499,NaN,12.5
2006/12/31 0:00,NaN,???,???,???,???,???,???,???,57,43,...,12.248800,0.000885,0.266002,0.220916,0.179629,6.357895,11.710218,0.469300,NaN,12.1

In [120]:
def clean_num(x):
    if x == '???':
        return np.nan
    return x

In [121]:
dirty_cols = cleaning[ ['Q5:Q1','D10:D1','D10:D1-4(Palma)','P90:P10_bhc','P80:P20_bhc','P80:P50_bhc','P50:P20_bhc','GINI-BHC']] 
dirty_cols.head()

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC
year,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2
2000/12/31 0:00,NaN,???,???,???,???,???,???,???
1987/12/31 0:00,NaN,???,???,???,???,???,???,???
2003/12/31 0:00,NaN,???,???,???,???,???,???,???
2006/12/31 0:00,NaN,???,???,???,???,???,???,???

In [122]:
dirty_cols.applymap(clean_num)

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC
year,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,NaN,2.78,1.66,0.6,34.2
2000/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016/12/31 0:00,5.61,9.1,1.36,4.14,2.59,1.62,0.63,33.8
1983/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010/12/31 0:00,5.33,8.62,1.25,3.93,2.56,1.56,0.61,32.4
1988/12/31 0:00,NaN,NaN,NaN,3.11,2.24,1.49,0.67,27.1
2002/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008/12/31 0:00,5.34,8.53,1.28,4.01,2.57,1.61,0.62,33.3
1991/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.5
1998/12/31 0:00,5.26,8.66,1.31,3.68,2.59,1.65,0.64,33
2005/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007/12/31 0:00,5.31,8.1,1.2,4.13,2.59,1.61,0.62,32
2011/12/31 0:00,5.94,9.75,1.44,4.26,2.67,1.64,0.62,35.1
2001/12/31 0:00,5.42,8.32,1.34,3.91,2.68,1.66,0.62,33.8
1996/12/31 0:00,NaN,NaN,NaN,3.79,2.55,1.66,0.65,33.1
1990/12/31 0:00,4.46,6.35,1.1,3.43,2.42,1.6,0.66,30.2
2004/12/31 0:00,5.51,9.15,1.31,4.17,2.74,1.62,0.59,33.4
1995/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992/12/31 0:00,NaN,NaN,NaN,3.8,2.53,1.64,0.65,31.9
1982/12/31 0:00,4.13,6.15,0.91,3.25,2.32,1.51,0.65,27.2
1984/12/31 0:00,NaN,NaN,NaN,3.31,2.29,1.53,0.67,27.5
1999/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013/12/31 0:00,5.38,8.29,1.3,4.02,2.62,1.64,0.63,33.4
2012/12/31 0:00,5.28,8.23,1.23,4.01,2.61,1.65,0.63,32.4
1993/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994/12/31 0:00,5.09,8.03,1.21,3.87,2.52,1.66,0.66,32.2
2015/12/31 0:00,5.88,9.82,1.45,4.01,2.61,1.61,0.62,35
1986/12/31 0:00,4.04,6.06,0.91,3.2,2.19,1.48,0.68,27
2009/12/31 0:00,5.34,8.53,1.28,3.98,2.55,1.58,0.63,32.9
1997/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
def clean_num(x):
    if x == '???':
        return np.nan
    if x == '-':
        return np.nan
    return x

In [124]:
dirty_cols = cleaning[ ['Q5:Q1','D10:D1','D10:D1-4(Palma)','P90:P10_bhc','P80:P20_bhc','P80:P50_bhc','P50:P20_bhc','GINI-BHC','top_10_perc_wealth_share']] 
dirty_cols.head()

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share
year,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2,-
2000/12/31 0:00,NaN,???,???,???,???,???,???,???,-
1987/12/31 0:00,NaN,???,???,???,???,???,???,???,-
2003/12/31 0:00,NaN,???,???,???,???,???,???,???,-
2006/12/31 0:00,NaN,???,???,???,???,???,???,???,57

In [125]:
dirty_cols.applymap(clean_num)

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share
year,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,NaN,2.78,1.66,0.6,34.2,NaN
2000/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57
2016/12/31 0:00,5.61,9.1,1.36,4.14,2.59,1.62,0.63,33.8,NaN
1983/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010/12/31 0:00,5.33,8.62,1.25,3.93,2.56,1.56,0.61,32.4,54
1988/12/31 0:00,NaN,NaN,NaN,3.11,2.24,1.49,0.67,27.1,NaN
2002/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008/12/31 0:00,5.34,8.53,1.28,4.01,2.57,1.61,0.62,33.3,55
1991/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.5,NaN
1998/12/31 0:00,5.26,8.66,1.31,3.68,2.59,1.65,0.64,33,NaN
2005/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007/12/31 0:00,5.31,8.1,1.2,4.13,2.59,1.61,0.62,32,NaN
2011/12/31 0:00,5.94,9.75,1.44,4.26,2.67,1.64,0.62,35.1,NaN
2001/12/31 0:00,5.42,8.32,1.34,3.91,2.68,1.66,0.62,33.8,NaN
1996/12/31 0:00,NaN,NaN,NaN,3.79,2.55,1.66,0.65,33.1,NaN
1990/12/31 0:00,4.46,6.35,1.1,3.43,2.42,1.6,0.66,30.2,NaN
2004/12/31 0:00,5.51,9.15,1.31,4.17,2.74,1.62,0.59,33.4,55
1995/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992/12/31 0:00,NaN,NaN,NaN,3.8,2.53,1.64,0.65,31.9,NaN
1982/12/31 0:00,4.13,6.15,0.91,3.25,2.32,1.51,0.65,27.2,NaN
1984/12/31 0:00,NaN,NaN,NaN,3.31,2.29,1.53,0.67,27.5,NaN
1999/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013/12/31 0:00,5.38,8.29,1.3,4.02,2.62,1.64,0.63,33.4,NaN
2012/12/31 0:00,5.28,8.23,1.23,4.01,2.61,1.65,0.63,32.4,NaN
1993/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994/12/31 0:00,5.09,8.03,1.21,3.87,2.52,1.66,0.66,32.2,NaN
2015/12/31 0:00,5.88,9.82,1.45,4.01,2.61,1.61,0.62,35,59
1986/12/31 0:00,4.04,6.06,0.91,3.2,2.19,1.48,0.68,27,NaN
2009/12/31 0:00,5.34,8.53,1.28,3.98,2.55,1.58,0.63,32.9,NaN
1997/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
for col in dirty_cols.columns:
    print(col)
    print(dirty_cols[col].unique())

Q5:Q1
['5.8' nan '5.61' '5.33' '5.34' '5.26' '5.31' '5.94' '5.42' '4.46' '5.51'
 '4.13' '5.38' '5.28' '5.09' '5.88' '4.04']
D10:D1
['9.59' '???' '9.1' '8.62' '8.53' '8.66' '8.1' '9.75' '8.32' '6.35' '9.15'
 '6.15' '8.29' '8.23' '8.03' '9.82' '6.06']
D10:D1-4(Palma)
['1.36' '???' '1.25' '1.28' '1.31' '1.2' '1.44' '1.34' '1.1' '0.91' '1.3'
 '1.23' '1.21' '1.45']
P90:P10_bhc
['???' '4.14' '3.93' '3.11' '4.01' '3.68' '4.13' '4.26' '3.91' '3.79'
 '3.43' '4.17' '3.8' '3.25' '3.31' '4.02' '3.87' '3.2' '3.98']
P80:P20_bhc
['2.78' '???' '2.59' '2.56' '2.24' '2.57' '2.67' '2.68' '2.55' '2.42'
 '2.74' '2.53' '2.32' '2.29' '2.62' '2.61' '2.52' '2.19']
P80:P50_bhc
['1.66' '???' '1.62' '1.56' '1.49' '1.61' '1.65' '1.64' '1.6' '1.51'
 '1.53' '1.48' '1.58']
P50:P20_bhc
['0.6' '???' '0.63' '0.61' '0.67' '0.62' '0.64' '0.65' '0.66' '0.59'
 '0.68']
GINI-BHC
['34.2' '???' '33.8' '32.4' '27.1' '33.3' '101.5' '33' '32' '35.1' '33.1'
 '30.2' '33.4' '31.9' '27.2' '27.5' '32.2' '35' '27' '32.9']
top_10_perc_wealth_share
['-' '57' '54' '55' '59']

In [128]:
def clean_num(x):
    if x == '???':
        return np.nan
    if x == '-':
        return np.nan
     if x == 'None':
        return np.nan
    if x == 'NAN':
        return np.nan
    return x

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [129]:
dirty_cols = cleaning
dirty_cols.applymap(clean_num)

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share,top_5_perc_wealth_share,...,suicides_per_100000,problem_gambling_intervention_prevelance_percent,total_prisoners_in_remand_rate,total_sentenced_prisoners_rate,total_post_sentence_offender_population_rate,violent_crime_victimisations_rate,recorded_murders_and_homicides_per_million,regional_gdp_proportional_variation,difference_in_percent_for_low_income_by_gender,gender_pay_gap
year,,,,,,,,,,,,,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,NaN,2.78,1.66,0.6,34.2,NaN,NaN,...,11.730000,0.002798,0.239037,0.163723,0.190778,5.179411,9.535594,0.570175,2.0,9.9
2000/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.928744,NaN,0.204938,0.183488,NaN,6.979664,14.517513,NaN,NaN,14.0
1987/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.571673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.359663,NaN,0.224868,0.176379,0.132507,6.801624,11.423434,0.644499,NaN,12.5
2006/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,43,...,12.248800,0.000885,0.266002,0.220916,0.179629,6.357895,11.710218,0.469300,NaN,12.1
2016/12/31 0:00,5.61,9.1,1.36,4.14,2.59,1.62,0.63,33.8,NaN,NaN,...,12.330000,0.002645,0.281635,0.179431,0.200894,5.672671,10.654438,0.321064,2.0,12.0
1983/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010/12/31 0:00,5.33,8.62,1.25,3.93,2.56,1.56,0.61,32.4,54,39,...,11.807190,0.003042,0.290903,0.206754,0.199586,5.986308,9.653708,0.561874,2.0,10.8
1988/12/31 0:00,NaN,NaN,NaN,3.11,2.24,1.49,0.67,27.1,NaN,NaN,...,13.926336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2002/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.625912,NaN,0.219123,0.176453,NaN,6.916835,16.713811,0.385000,NaN,12.3
1985/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.995119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008/12/31 0:00,5.34,8.53,1.28,4.01,2.57,1.61,0.62,33.3,55,41,...,11.770169,0.001340,0.269944,0.191459,0.176044,6.113538,11.972084,0.438598,2.0,12.5
1991/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.5,NaN,NaN,...,13.701255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998/12/31 0:00,5.26,8.66,1.31,3.68,2.59,1.65,0.64,33,NaN,NaN,...,15.099812,NaN,NaN,NaN,NaN,7.854631,13.893731,NaN,3.0,16.2
2005/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.186182,0.000784,0.220358,0.219487,0.184163,6.264289,14.754935,0.388228,NaN,14.0
1989/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.365853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007/12/31 0:00,5.31,8.1,1.2,4.13,2.59,1.61,0.62,32,NaN,NaN,...,11.043698,0.001253,0.274999,0.226019,0.188396,6.183120,12.075064,0.587195,2.0,11.9
2011/12/31 0:00,5.94,9.75,1.44,4.26,2.67,1.64,0.62,35.1,NaN,NaN,...,10.900001,0.002756,0.284385,0.199166,0.213597,5.838588,8.439685,0.445194,1.0,10.3
2001/12/31 0:00,5.42,8.32,1.34,3.91,2.68,1.66,0.62,33.8,NaN,NaN,...,12.863414,NaN,0.224149,0.185787,NaN,6.840507,13.656239,0.540026,4.0,13.1
1996/12/31 0:00,NaN,NaN,NaN,3.79,2.55,1.66,0.65,33.1,NaN,NaN,...,14.656533,NaN,NaN,NaN,NaN,8.333833,14.737169,NaN,3.0,NaN
1990/12/31 0:00,4.46,6.35,1.1,3.43,2.42,1.6,0.66,30.2,NaN,NaN,...,12.972769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
2004/12/31 0:00,5.51,9.15,1.31,4.17,2.74,1.62,0.59,33.4,55,41,...,11.740197,0.100000,0.243818,0.202436,0.171839,6.188446,11.498893,0.401651,0.0,12.7
1995/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.969001,NaN,NaN,NaN,NaN,8.309021,10.881985,NaN,NaN,NaN
2017/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.640000,0.002421,0.307631,0.191910,0.212364,NaN,7.300869,NaN,NaN,NaN
1992/12/31 0:00,NaN,NaN,NaN,3.8,2.53,1.64,0.65,31.9,NaN,NaN,...,14.127451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
1982/12/31 0:00,4.13,6.15,0.91,3.25,2.32,1.51,0.65,27.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984/12/31 0:00,NaN,NaN,NaN,3.31,2.29,1.53,0.67,27.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.428610,NaN,0.190134,0.187632,NaN,7.341620,13.037878,NaN,NaN,15.2
2018/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013/12/31 0:00,5.38,8.29,1.3,4.02,2.62,1.64,0.63,33.4,NaN,NaN,...,11.000000,0.002797,0.264803,0.181820,0.194774,5.230598,10.806357,0.512603,2.0,11.2
2012/12/31 0:00,5.28,8.23,1.23,4.01,2.61,1.65,0.63,32.4,NaN,NaN,...,12.300000,0.002686,0.272066,0.183304,0.194255,5.247489,10.208966,0.493307,1.0,9.1
1993/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.458384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994/12/31 0:00,5.09,8.03,1.21,3.87,2.52,1.66,0.66,32.2,NaN,NaN,...,14.148386,NaN,NaN,NaN,NaN,8.181108,17.119505,NaN,2.0,NaN
2015/12/31 0:00,5.88,9.82,1.45,4.01,2.61,1.61,0.62,35,59,45,...,12.270000,0.002770,0.248255,0.165808,0.187463,5.536886,10.443455,0.451131,1.0,11.8
1986/12/31 0:00,4.04,6.06,0.91,3.2,2.19,1.48,0.68,27,NaN,NaN,...,12.297609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009/12/31 0:00,5.34,8.53,1.28,3.98,2.55,1.58,0.63,32.9,NaN,NaN,...,11.329095,0.002263,0.288857,0.202235,0.188645,6.313108,15.804728,0.541976,1.0,11.5
1997/12/31 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.808465,NaN,NaN,NaN,NaN,8.128615,17.453207,NaN,NaN,0.0

In [130]:
cleaning['teriary_education_participation_rate'].unique()

array(['10.2\\I', '10.1\\Y', nan, '12.5\\T', '13.3\\T', '9.4\\J',
       '12.2\\N', '11.9\\U', '12.4\\O', '8.3\\U', '13.5\\B', '13.1\\V',
       '11.0\\Q', '11.0\\X', '8.200000000000001\\U', '13.1\\T', '8.1\\O',
       '9.4\\N', '10.6\\A', '10.8\\S', '7.3\\H', '9.8\\U', '12.4\\N',
       '8.1\\B'], dtype=object)

In [131]:
temp = cleaning['teriary_education_participation_rate']
temp.iloc[0][:-2]# Purely integer-location based indexing for selection by position.

'10.2'

In [132]:
temp = cleaning['teriary_education_participation_rate']
temp = temp.str[:-2]#Vectorized string functions for Series and Index. From the beginning to the second character before the countdown
temp = temp.astype(float)
temp

year
2014/12/31 0:00    10.2
2000/12/31 0:00    10.1
1987/12/31 0:00     NaN
2003/12/31 0:00    12.5
2006/12/31 0:00    13.3
2016/12/31 0:00     9.4
1983/12/31 0:00     NaN
2010/12/31 0:00    12.2
1988/12/31 0:00     NaN
2002/12/31 0:00    11.9
1985/12/31 0:00     NaN
2008/12/31 0:00    12.4
1991/12/31 0:00     NaN
1998/12/31 0:00     8.3
2005/12/31 0:00    13.5
1989/12/31 0:00     NaN
2007/12/31 0:00    13.1
2011/12/31 0:00    11.0
2001/12/31 0:00    11.0
1996/12/31 0:00     8.2
1990/12/31 0:00     NaN
2004/12/31 0:00    13.1
1995/12/31 0:00     8.1
2017/12/31 0:00     NaN
1992/12/31 0:00     NaN
1982/12/31 0:00     NaN
1984/12/31 0:00     NaN
1999/12/31 0:00     9.4
2018/12/31 0:00     NaN
2013/12/31 0:00    10.6
2012/12/31 0:00    10.8
1993/12/31 0:00     NaN
1994/12/31 0:00     7.3
2015/12/31 0:00     9.8
1986/12/31 0:00     NaN
2009/12/31 0:00    12.4
1997/12/31 0:00     8.1
Name: teriary_education_participation_rate, dtype: float64

In [209]:
cleaning['teriary_education_participation_rate'] = temp 
cleaning.head()

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share,top_5_perc_wealth_share,...,suicides_per_100000,problem_gambling_intervention_prevelance_percent,total_prisoners_in_remand_rate,total_sentenced_prisoners_rate,total_post_sentence_offender_population_rate,violent_crime_victimisations_rate,recorded_murders_and_homicides_per_million,regional_gdp_proportional_variation,difference_in_percent_for_low_income_by_gender,gender_pay_gap
year,,,,,,,,,,,,,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2,-,-,...,11.730000,0.002798,0.239037,0.163723,0.190778,5.179411,9.535594,0.570175,2.0,9.9
2000/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,11.928744,NaN,0.204938,0.183488,NaN,6.979664,14.517513,NaN,NaN,14.0
1987/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,13.571673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,12.359663,NaN,0.224868,0.176379,0.132507,6.801624,11.423434,0.644499,NaN,12.5
2006/12/31 0:00,NaN,???,???,???,???,???,???,???,57,43,...,12.248800,0.000885,0.266002,0.220916,0.179629,6.357895,11.710218,0.469300,NaN,12.1

In [179]:
type(cleaning['education_spend_as_percent_of_GDP'])

pandas.core.series.Series

In [201]:
def clean_num(x):
        x = x[:-2]
        x = x.astype(float)
        return x

In [202]:
dirty_cols = cleaning[['education_spend_as_percent_of_GDP','education_spend_as_percent_of_total_gov_expenses']]
dirty_cols.head()

,education_spend_as_percent_of_GDP,education_spend_as_percent_of_total_gov_expenses
year,,
2014/12/31 0:00,5.2\T,17.3\H
2000/12/31 0:00,5.0\D,16.4\E
1987/12/31 0:00,NaN,NaN
2003/12/31 0:00,5.2\K,17.6\F
2006/12/31 0:00,6.1\Q,20.1\I

In [203]:
type(cleaning['education_spend_as_percent_of_GDP'])

pandas.core.series.Series

In [204]:
dirty_cols.applymap(clean_num)

AttributeError: ("'str' object has no attribute 'astype'", 'occurred at index education_spend_as_percent_of_GDP')

In [208]:
temp = cleaning['education_spend_as_percent_of_GDP']
temp = temp[:-2]# From the beginning to the second character before the countdown
temp = temp.astype(float)
cleaning['education_spend_as_percent_of_GDP'] = temp 
cleaning.head(5)

,Q5:Q1,D10:D1,D10:D1-4(Palma),P90:P10_bhc,P80:P20_bhc,P80:P50_bhc,P50:P20_bhc,GINI-BHC,top_10_perc_wealth_share,top_5_perc_wealth_share,...,suicides_per_100000,problem_gambling_intervention_prevelance_percent,total_prisoners_in_remand_rate,total_sentenced_prisoners_rate,total_post_sentence_offender_population_rate,violent_crime_victimisations_rate,recorded_murders_and_homicides_per_million,regional_gdp_proportional_variation,difference_in_percent_for_low_income_by_gender,gender_pay_gap
year,,,,,,,,,,,,,,,,,,,,,
2014/12/31 0:00,5.8,9.59,1.36,???,2.78,1.66,0.6,34.2,-,-,...,11.730000,0.002798,0.239037,0.163723,0.190778,5.179411,9.535594,0.570175,2.0,9.9
2000/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,11.928744,NaN,0.204938,0.183488,NaN,6.979664,14.517513,NaN,NaN,14.0
1987/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,13.571673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003/12/31 0:00,NaN,???,???,???,???,???,???,???,-,-,...,12.359663,NaN,0.224868,0.176379,0.132507,6.801624,11.423434,0.644499,NaN,12.5
2006/12/31 0:00,NaN,???,???,???,???,???,???,???,57,43,...,12.248800,0.000885,0.266002,0.220916,0.179629,6.357895,11.710218,0.469300,NaN,12.1

In [ ]:
temp = cleaning['education_spend_as_percent_of_GDP']
temp = temp[:-2]# From the beginning to the second character before the countdown
temp = temp.astype(float)
cleaning['education_spend_as_percent_of_GDP'] = temp 
cleaning.head(5)

In [ ]:
cleaning[cleaning['depression_adult'].str.contains('.*[A-Za-z]', regex=True)]